@charset "UTF-8";
/* Add your variable customizations of theme here */

body .ui-button.ui-button-flat {
  background-color: transparent;
  color: #2196F3;
  border-color: transparent;
}
body .ui-button.ui-button-flat.ui-state-hover {
  background: rgba(33, 150, 243, 0.04);
  color: #2196F3;
  border-color: transparent;
}
body .ui-button.ui-button-flat.ui-state-active, body .ui-button.ui-button-flat.ui-state-down {
  background: rgba(33, 150, 243, 0.16);
  color: #2196F3;
  border-color: transparent;
}
body .ui-button.ui-button-flat.ui-button-plain {
  color: #6c757d;
}
body .ui-button.ui-button-flat.ui-button-plain.ui-state-hover {
  background: #e9ecef;
  color: #6c757d;
}
body .ui-button.ui-button-flat.ui-button-plain.ui-state-active, body .ui-button.ui-button-flat.ui-button-plain.ui-state-down {
  background: #dee2e6;
  color: #6c757d;
}
